/* CSS Reset */
body,
ul,
p,
h1 {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: url(images/bg.png);
  background-attachment: fixed;
  background-position: center;
}

.wrapper {
  background-position: center;
  background-image: url(images/rope.png);
  width: 800px;
  margin: 0 auto 100px;
}

.header {
  text-align: center;
}

.logo {
  background-image: url(images/logo.png);
  width: 450px;
  height: 140px;
  display: inline-block;
  margin: 20px 0;
  text-indent: -9999px;
}

.menu {
  width: 200px;
  margin: 30px auto;
  color: #666;
}

.menu li {
  margin-bottom: 15px;
}

.menu li a {
  border: 2px solid;
  padding: 5px 0;
  display: block;
}

.menu li a:hover {
  color: orange;
}

.section {
  background-image: url(images/wood.png);
  background-color: #7d410d;
  margin: 50px 0;
  padding: 30px;
  border: 10px solid rgb(139, 57, 3);
  color: antiquewhite;
  border-radius: 10px;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.6),
    inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.section h1 {
  margin-bottom: 20px;
  font-size: 80px;
  line-height: 174px;
  background-repeat: no-repeat;
  background-position: right center;
  font-family: "Gochi Hand", cursive;
}

.section:nth-child(even) h1 {
  background-position: left center;
  text-align: right;
}

.section h1.animal01 {
  background-image: url(images/animal01.png);
  color: #74b9ff;
}
.section h1.animal02 {
  background-image: url(images/animal02.png);
  color: #fab1a0;
}
.section h1.animal03 {
  background-image: url(images/animal03.png);
  color: #fdffb6;
}
.section h1.animal04 {
  background-image: url(images/animal04.png);
  color: #06d6a0;
}
.section h1.animal05 {
  background-image: url(images/animal05.png);
  color: #b08968;
}
.section h1.animal06 {
  background-image: url(images/animal06.png);
  color: #8d99ae;
}
.section h1.animal07 {
  background-image: url(images/animal07.png);
  color: #3d5a80;
}

.section p {
  line-height: 1.6;
}

.section p strong {
  background-color: rgb(192, 105, 46);
  padding: 0 20px;
  border-radius: 10px;
  color: #fdcb6e;
}

.footer {
  background-color: #7d410d;
  color: rgb(230, 53, 53);
  text-align: center;
  border-bottom: 10px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.6),
    inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer::before {
  content: "";
  background-image: url(images/ground.png);
  background-repeat: repeat-x;
  display: block;
  height: 50px;
}

.footer p {
  padding: 20px 0;
}
